.page-item > .avatar {
    margin: 0 5px;
}

.outfit-timi:hover,
.voice-timi:hover {
    cursor: pointer;
}

.item-active {
    border: 2px solid #7367f0 !important;
    border-radius: 5px !important;
}


.swiper-slide .outfit-timi .swiper-slide-active {
    min-width: 350px;
    max-width: 350px;
}

.max-h150 {
    max-height: 6rem;
    overflow-y: auto;
}

.file-senarios > .card {
    background: #3333 !important;
}

.btn-outline-primary {
    border: 1px solid #7367f0 !important;
    background-color: #fff;
    color: #7367f0;
}


.outfit-timi > img {
    object-fit: cover;
    border-radius: 5px !important;
}

.voice-timi {
    padding: 5px !important;
    border-radius: 5px !important;
}

#previewVideo {
    max-height: 220px !important;
    min-height: 220px !important;
}

.swiper-slide {
    box-shadow: rgba(0, 0, 0, 0.30) 0px 2px 10px 0.5px !important;
}

.dropzone {
    border-radius: 5px;
    border: 1px solid #7367f0;
}

.box-shadow-default {
    box-shadow: 2px 8px 10px 0 rgba(25, 42, 70, 0.13) !important;
}

.dz-button {
    color: #7367f0 !important;
}

.text-center element {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.item-active-voice {
    border: 2px solid #7367f0 !important;
    border-radius: 5px !important;
}

.max-h90 {
    max-height: 90px;
    max-height: 90px;
}

.overflow-y {
    overflow-y: auto;
}

.noUi-pips-horizontal {
    display: none !important;
}

.demo-inline-spacing-05 > * {
    margin-right: 0.5rem !important;
}